<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.problem.pl.model.dao.ProjectInterfaceMapper">
    <resultMap id="userResultMap" type="com.problem.pl.model.entities.TProjectInterfaceEntity">
        <id column="id" property="id" javaType="String"/>
       <result column="pi_add_timestamp" property="piAddTimestamp" javaType="java.lang.Long"/>
       <result column="pi_last_mod_timestamp" property="piLastModTimestamp" javaType="java.lang.Long"/>
       <result column="pi_name" property="piName" javaType="java.lang.String"/>
       <result column="pi_is_abandoned" property="piIsAbandoned" javaType="java.lang.String"/>
       <result column="pi_data_json" property="piDataJson" javaType="java.lang.String"/>
       <result column="pi_mod_transfer_flow" property="piModTransferFlow" javaType="java.lang.String"/>
       <result column="user_id" property="userId" javaType="java.lang.String"/>
       <result column="project_id" property="projectId" javaType="java.lang.String"/>
        <association property="refTProjectEntity" column="project_id" javaType="com.problem.pl.model.entities.TProjectEntity">
            <id property="id" column="id" javaType="java.lang.String"/>
            <result property="projectName" column="project_name" javaType="java.lang.String"/>
        </association>
    </resultMap>

    <!--根据id查询接口详情-->
    <select id="queryProjectInterfaceById" parameterType="java.lang.String" resultMap="userResultMap">
        SELECT tpi.*,tp.* FROM T_PROJECT_INTERFACE tpi
        LEFT JOIN T_PROJECT tp ON tpi.project_id = tp.id
        WHERE tpi.id = #{interfaceId}
    </select>

    <!--查询某个项目下所有接口的数量-->
    <select id="getProjectInterfacesByProjectIdCount" parameterType="java.lang.String" resultType="java.lang.Integer">
        SELECT COUNT(0) FROM T_PROJECT_INTERFACE WHERE project_id = #{projectId}
    </select>

    <!--查询某个项目下的接口列表-->
    <select id="queryProjectInterfacesByProjectId" resultMap="userResultMap">
        SELECT * FROM T_PROJECT_INTERFACE tpi
        LEFT JOIN T_PROJECT tp ON tpi.project_id = tp.id
        WHERE tpi.project_id = #{projectId}
        ORDER BY tpi.pi_add_timestamp DESC
        LIMIT #{startPos},#{pageSizeCount}
    </select>

    <!--插入一个接口-->
    <insert id="saveProjectInterface" parameterType="com.problem.pl.model.entities.TProjectInterfaceEntity">
        INSERT INTO T_PROJECT_INTERFACE(id, pi_add_timestamp, pi_name, pi_data_json, user_id, project_id)
        VALUES (#{id},#{piAddTimestamp},#{piName},#{piDataJson},#{userId},#{projectId})
    </insert>

    <delete id="deleteInterfaceById" parameterType="java.lang.String">
        DELETE FROM T_PROJECT_INTERFACE WHERE id = #{interfaceId}
    </delete>

    <update id="updateInterface" parameterType="com.problem.pl.model.entities.TProjectInterfaceEntity">
        UPDATE T_PROJECT_INTERFACE
        SET pi_add_timestamp = #{piAddTimestamp},
            pi_name          = #{piName},
            pi_data_json     = #{piDataJson}
        WHERE id = #{id}
    </update>
</mapper>