<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.problem.pl.model.dao.ProjectMapper">
    <resultMap id="userResultMap" type="com.problem.pl.model.entities.TProjectEntity">
        <id column="id" property="id" javaType="String"/>
        <result column="project_name" property="projectName" javaType="java.lang.String"/>
        <result column="project_is_public" property="projectIsPublic" javaType="java.lang.String"/>
        <result column="project_desc" property="projectDesc" javaType="java.lang.String"/>
        <result column="project_level" property="projectLevel" javaType="java.lang.Integer"/>
        <result column="project_add_timestamp" property="projectAddTimestamp" javaType="java.lang.Long"/>
        <result column="user_id" property="userId" javaType="java.lang.String"/>
        <association property="tUserEntity"
                     column="user_id"
                     javaType="com.problem.pl.model.entities.TUserEntity">
            <id column="user_id" property="id"/>
            <result column="u_nickname" property="uNickname" javaType="java.lang.String"/>
        </association>
    </resultMap>

    <select id="queryProjectById" parameterType="java.lang.String" resultMap="userResultMap">
        select * from t_project tp left join t_user tu on tp.user_id = tu.id where tp.id = #{projectId}
    </select>


    <select id="queryPListByPagination" resultMap="userResultMap">
        select * from t_project tp left join t_user tu on tp.user_id = tu.id order by tp.project_add_timestamp desc limit #{startPos},#{entPos}
    </select>

    <select id="queryPListByUserIdAndPagination" resultMap="userResultMap">
        select * from t_project tp
        left join t_user tu on tp.user_id = tu.id
        where tp.user_id = #{userId}
        order by tp.project_add_timestamp
        desc limit #{startPos},#{entPos}
    </select>

    <select id="queryRecommendProjectLabelsForProblem" resultMap="userResultMap">
        select distinct tp.project_name,tp.id from t_project tp
        right join t_project_problem tpp on tp.id = tpp.project_id
        where tpp.user_id_for_choose = #{userId}
        order by tpp.pp_choose_timestamp
        limit #{labelNum}
    </select>

    <insert id="saveNewProjectInfo" parameterType="com.problem.pl.model.entities.TProjectEntity">
        insert into t_project (id, project_name, project_level, project_desc, project_add_timestamp,
                               user_id)
        VALUES (#{id}, #{projectName}, #{projectLevel},#{projectDesc}, #{projectAddTimestamp},
                #{userId})
    </insert>

    <!--?????-->
    <select id="findProjectTotalCount" resultType="java.lang.Integer">
        select count(0) from t_project
    </select>

    <select id="findProjectTotalCountByUserId" resultType="java.lang.Integer">
        select count(0) from t_project where user_id = #{userId}
    </select>

    <!--?? ???-->
    <update id="modifyProjectPriority">
        update t_project set project_level = #{priority} where id = #{pid}
    </update>

    <update id="modifyProjectName">
        update t_project set project_name = #{projectName} where id = #{projectId}
    </update>

    <delete id="deleteProjectById">
        delete from t_project where id = #{projectId}
    </delete>
</mapper>