<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.problem.pl.model.dao.ProjectOperateRecordMapper">
    <resultMap id="userResultMap" type="com.problem.pl.model.entities.TProjectOperateRecorderEntity">
        <id column="id" property="id" javaType="String"/>
        <result column="tpor_timestamp" property="tporTimestamp" javaType="java.lang.Long"/>
        <result column="tpor_operate_type" property="tporOperateType" javaType="java.lang.String"/>
        <result column="project_name" property="projectName" javaType="java.lang.String"/>
        <result column="tpor_operate_content" property="tporOperateContent" javaType="java.lang.String"/>
        <result column="project_problem_id" property="projectProblemId" javaType="java.lang.String"/>
        <result column="project_interface_id" property="projectInterfaceId" javaType="java.lang.String"/>
        <result column="project_id" property="projectId" javaType="java.lang.String"/>
        <result column="user_id" property="userId" javaType="java.lang.String"/>
        <association property="refTUserEntity"
                     javaType="com.problem.pl.model.entities.TUserEntity">
            <id column="user_id" property="id"/>
            <result column="u_nickname" property="uNickname" javaType="java.lang.String"/>
        </association>
    </resultMap>

    <insert id="insertProjectOperateRecord" parameterType="com.problem.pl.model.entities.TProjectOperateRecorderEntity">
        insert into t_project_operate_recorder(id,tpor_timestamp,tpor_operate_type,project_name,tpor_operate_content,project_id,project_problem_id,project_interface_id,user_id)
                                        values (#{id},#{tporTimestamp},#{tporOperateType},#{projectName},#{tporOperateContent},#{projectId},#{projectProblemId},#{projectInterfaceId},#{userId})
    </insert>

    <select id="queryProjectOperateRecordsByProjectId" resultMap="userResultMap">
        select * from t_project_operate_recorder tor
            left join t_user tu on tor.user_id = tu.id
            where tor.project_id = #{projectId}
        order by tpor_timestamp DESC limit #{startPos},#{pageSize}
    </select>

    <select id="queryCountSizeByProjectId" resultType="java.lang.Integer">
        select count(0) from t_project_operate_recorder where project_id = #{projectId}
    </select>

    <insert id="insertProjectOperateRecords" parameterType="List" useGeneratedKeys="false">
        insert into t_project_operate_recorder(id,tpor_timestamp,
                                               tpor_operate_type,
                                               project_name,
                                               tpor_operate_content,
                                               project_problem_id,
                                               project_interface_id,
                                               project_id,
                                               user_id) values
        <foreach collection="operates" item="opera" index="index" separator=",">
        (
            #{opera.id},
            #{opera.tporTimestamp},
            #{opera.tporOperateType},
            #{opera.projectName},
            #{opera.tporOperateContent},
            #{opera.projectProblemId},
            #{opera.projectInterfaceId},
            #{opera.projectId},
            #{opera.userId}
            )
        </foreach>
    </insert>

</mapper>