<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.problem.pl.model.dao.UserMapper">
    <resultMap id="userResultMap" type="com.problem.pl.model.entities.TUserEntity">
        <id column="id" property="id" javaType="String"/>
        <result column="u_login_account" property="uLoginAccount" javaType="java.lang.String"/>
    </resultMap>

    <select id="loadUserByUId" resultMap="userResultMap">
        SELECT * FROM t_user WHERE id = #{uid}
    </select>

    <select id="isAlreadyRegisteredByAccount" resultType="java.lang.Boolean">
        SELECT case
                when count(1) > 0
                then 'true'
                else 'false'
            end
        FROM t_user WHERE u_login_account = #{account} OR u_login_phone = #{account} OR u_login_email = #{account}
    </select>

    <insert id="saveRegisterInfo" parameterType="com.problem.pl.model.entities.TUserEntity">
        insert into t_user(id,u_login_account,u_login_phone,u_login_email,u_nickname,register_timestamp,register_devices,register_devices_user_agent_string,u_login_pwd,u_nickname)
                    values (#{id},#{uLoginAccount},#{uLoginPhone},#{uLoginEmail},#{uNickname},#{registerTimestamp},#{registerDevices},#{registerDevicesUserAgentString},#{uLoginPwd},#{uNickname})
    </insert>
</mapper>